.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  min-height: 100vh;
  padding: 0 0.5rem;
  overflow: scroll;
}

.allDifficulcy {
  display: flex;
  width: 320px;
  height: 40px;
}

.difficulcy {
  width: 25%;
  text-align: center;
}

.fullboard {
  display: flex;
  justify-content: center;
  background-color: #c6c6c6;
  border: 5px, solid;
  border-color: #fff #808080 #808080 #fff;
  box-shadow: -10px -10px 10px -8px #ccc;
}

.easy {
  width: 330px;
  height: 406px;
}

.medium {
  width: 554px;
  height: 630px;
}

.hard {
  width: 1002px;
  height: 630px;
}

.custom {
  width: 1002px;
  height: 1100px;
}

.allCustom {
  display: none;
  justify-content: space-between;
  width: 360px;
  height: 60px;
}

.allcus {
  display: flex;
  justify-content: space-between;
  width: 360px;
  height: 60px;
}

.form {
  width: 120px;
}

.inp::-webkit-outer-spin-button,
.inp::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

#numberinput {
  padding: 5px;
  margin: 10px;
  font-size: 1rem;
}

.inp {
  width: 50px;
}

.button {
  width: 40px;
  height: 23px;
  background-color: white;
}

.button:hover {
  background: rgb(128 128 128 / 20%);
}

.boardstyle {
  position: relative;
  width: calc(100% - 26px);
  height: 100%;
  background-color: #c6c6c6;
}

.headBoard {
  position: relative;
  top: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #c0c0c0;
  border: solid 3px;
  border-color: #808080 #fff #fff #808080;

  /* margin-bottom: 16px; */

  /* border: 2px solid white; */
}

.bombcount {
  position: relative;
  top: 10px;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  font-size: 30px;
  color: red;
  background-color: black;
  outline: white outset 3px;
}

.smilestyle {
  position: relative;
  top: 10px;
  width: 60px;
  height: 40px;
  outline: white outset 3px;
}

.smile {
  position: relative;
  left: 10px;
  width: 40px;
  height: 40px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-size: 560px 40px;
}

.timecount {
  position: relative;
  top: 10px;
  right: 5%;
  width: 60px;
  height: 40px;
  font-size: 30px;
  color: red;
  text-align: center;
  background-color: black;
  outline: white outset 3px;
}

.cellboard {
  position: relative;
  top: 32px;
  width: calc(100% - 1px);
  height: calc(100% - 103px);
  border: solid 3px;
  border-color: #808080 #fff #fff #808080;
}

.cellstyle {
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  border: 3px, solid;
  border-color: #fff #808080 #808080#FFF;
}

.bombstyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}
