.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.fullboard {
  width: 312px;
  height: 370px;
  background-color: gray;
  outline: white outset 3px;
}

.boardstyle {
  position: relative;
  left: 12px;
  width: 288px;
  height: 370px;
  background-color: gray;
}

.headBoard {
  position: relative;
  top: 16px;
  bottom: 16px;
  width: 288px;
  height: 52px;

  /* border: 2px solid white; */
  outline: white outset 3px;
}

.cellstyle {
  position: relative;
  top: 16px;
  float: left;
  width: 32px;
  height: 32px;
  outline: white outset 3px;
}

.bombstyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.whitestyle {
  width: 30px;
  height: 30px;
  background-color: white;
}
