.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.allDifficulcy {
  display: flex;
  width: 320px;
  height: 40px;
}

.difficulcy {
  width: 33%;
  text-align: center;
}

.fullboard {
  background-color: gray;
  outline: white outset 3px;
}

.easy {
  width: 312px;
  height: 386px;
}

.medium {
  width: 556px;
  height: 610px;
}

.hard {
  width: 1058px;
  height: 610px;
}

.boardstyle {
  position: relative;
  left: 12px;
  width: 93%;
  height: 100%;
  background-color: gray;
}

.headBoard {
  position: relative;
  top: 16px;
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: 60px;
  margin-bottom: 16px;

  /* border: 2px solid white; */
  outline: white outset 3px;
}

.bombcount {
  position: relative;
  top: 10px;
  left: 5%;
  width: 60px;
  height: 40px;
  font-size: 30px;
  color: red;
  background-color: black;
  outline: white outset 3px;
}

.smilestyle {
  position: relative;
  top: 10px;
  width: 60px;
  height: 40px;
  outline: white outset 3px;
}

.smile {
  position: relative;
  left: 10px;
  width: 40px;
  height: 40px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-size: 560px 40px;
}

.timecount {
  position: relative;
  top: 10px;
  right: 5%;
  width: 60px;
  height: 40px;
  font-size: 30px;
  color: red;
  background-color: black;
  outline: white outset 3px;
}

.cellstyle {
  position: relative;
  top: 16px;
  float: left;
  width: 32px;
  height: 32px;
  outline: white outset 3px;
}

.bombstyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}
